  {{!-- <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script> --}}
  
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Navbar</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"> 
            <a class="nav-link" href="#">
              {{#link-to 'index'}} Home{{/link-to}}
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="#">
              {{#link-to 'about'}} About{{/link-to}}
            </a>   
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              {{#link-to 'services'}} Services{{/link-to}}
            </a> 
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="#">
              {{#link-to 'contacts'}} Contact{{/link-to}}
            </a> 
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>



<h2 id = "title"> Welcome to our app.... </h2>


{{outlet}}