<h1> {{title}} </h1>
<button {{action 'sayHello'}}> Say Hello</button> 
<p> {{body}} </p>

<p>
    <strong>Authors: </strong>

    {{#each authors as |authors|}}
        {{authors}},
    {{/each}}
</p>
<h4> Comments </h4>
<ul>
    {{#each comments as comment}}

    {{/each}}
</ul>

<hr>
<h4> Add Comment </h4>
<form {{action 'submitAction' on='submit'}}>
    <p>
        Name: {{input value=name}}
    </p>
    <p>
        Comment: {{textarea value=comment}}
    </p>
    <button type='submit'> Submit </button>


</form>